@reference "../../app/globals.css";

.markdown {
  @apply leading-relaxed space-y-4;
}

.markdown h1 {
  @apply text-4xl font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown h2 {
  @apply text-3xl font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown h3 {
  @apply text-2xl font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown h4 {
  @apply text-xl font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown h5 {
  @apply text-lg font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown h6 {
  @apply text-base font-bold mb-4 border-b-2 border-zinc-200 dark:border-zinc-600 pb-2;
}

.markdown p {
  @apply text-base;
}

.markdown a {
  @apply dark:text-blue-400 text-blue-600;
}

.markdown a:hover {
  @apply underline;
}

.markdown a:active {
  @apply text-primary-foreground;
}

.markdown a:focus {
  @apply text-primary-foreground;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown li {
  @apply text-base indent-4;
}

.markdown blockquote {
  @apply border-l-4 border-primary pl-4;
}

.markdown blockquote p {
  @apply text-base;
}

.markdown hr {
  @apply border-0 border-t border-zinc-200 dark:border-zinc-800 my-8;
}

.markdown table {
  @apply w-full border-collapse border border-zinc-200 dark:border-zinc-800 my-8;
}

.markdown table th {
  @apply text-left bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 px-4 py-2;
}

.markdown table td {
  @apply border border-zinc-200 dark:border-zinc-800 px-4 py-2;
}

.markdown table tr:nth-child(even) {
  @apply bg-zinc-50 dark:bg-zinc-900;
}

.markdown table tr:nth-child(odd) {
  @apply bg-white dark:bg-black;
}

.markdown table tr:hover {
  @apply bg-zinc-200 dark:bg-zinc-800;
}

.markdown code {
  @apply text-sm font-mono bg-zinc-100 dark:bg-zinc-900 rounded-md p-2;
}

.markdown pre {
  @apply text-sm font-mono bg-zinc-100 dark:bg-zinc-900 rounded-lg p-3;
}

.markdown img {
  @apply rounded-xl shadow-inner;
}
